.author-link,
.author-name {
  display: inline-flex;
  align-items: center;
}

.author-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.3em;
  vertical-align: middle;
}

.post-title .author-icon {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}
