.posts {
  width: 100%;
  text-align: left;
  padding: 20px;

  @media #{$media-size-tablet} {
    max-width: 660px;
    padding: 16px;
  }

  @media #{$media-size-phone} {
    padding: 14px;
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  & .post-authors__label {
    margin-right: 0.5em;
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;

    @media #{$media-size-phone} {
      font-size: 1em;
    }

    &-by {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 2rem;

      @media #{$media-size-phone} {
        flex-direction: column;
        gap: 0.2em;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
      }
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    padding-bottom: 0.5em;

    &-item {
      border-bottom: 1px grey dashed;

      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 0;
        text-decoration: none;
        flex-direction: row;
        gap: 2em;
        width: 100%;

        @media #{$media-size-tablet} {
          flex-direction: column;
          gap: 1em;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        flex: 3 1 0;
        min-width: 0;
        width: 100%;
        gap: 0.6rem;

        @media #{$media-size-tablet} {
          flex: auto;
          justify-content: space-between;
          gap: 0.5em;
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        flex: 7 1 0;
        min-width: 0;
        width: 100%;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1.2rem;
      margin: 5px 0 5px 0;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tags {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
    }

    &-published {
      flex-shrink: 0;
      @include dimmed;
    }
  }
}
