$light-tag-bg: $light-border-color;
$dark-tag-bg: $dark-border-color;

.tag-pill {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0.2em;
  font-size: 0.9;
  border-radius: 9999px;
  text-decoration: none;

  background-color: $light-tag-bg;
  color: $light-color-variant;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-tag-bg;
    color: $dark-color-variant;
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-tag-bg;
    color: $light-color-variant;
  }

  [data-theme=dark] & {
    background-color: $dark-tag-bg;
    color: $dark-color-variant;
  }

  [data-theme=light] & {
    background-color: $light-tag-bg;
    color: $light-color-variant;
  }
}

@mixin tag-pill-icon($unicode, $light-bg, $dark-bg) {
  background-color: $light-bg;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-bg;
  }

  [data-theme=dark] & {
    background-color: $dark-bg;
  }

  [data-theme=light] & {
    background-color: $light-bg;
  }

  &::before {
    content: $unicode;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 0.4em;
  }
}

.tag-pwn {
  @include tag-pill-icon("\f0e7", #ff9a1f, #c25e0c);
}

.tag-web {
  @include tag-pill-icon("\f0ac", #46ade3, #0572ad);
}

.tag-reverse {
  @include tag-pill-icon("\f0ad", #1cd9b4, #16a085);
}

.tag-misc {
  @include tag-pill-icon("\f059", #f5d738, #d1a402);
}

.tag-crypto {
  @include tag-pill-icon("\f023", #e073eb, #A21CAF);
}

.tag-forensics {
  @include tag-pill-icon("\f577", #fc7eb9, #b81161);
}

.tag-hardware {
  @include tag-pill-icon("\f2db", #b8f76f, #5a8f1b);
}

.tag-fullpwn {
  @include tag-pill-icon("\f504", #fa5a63, #d11d3c);
}

.tag-infra {
  @include tag-pill-icon("\f12e", #66ebf2, #07838a);
}
