[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/bynect/hugo-theme-hello-friend-ng.git
[submodule "assets/logo"]
	path = assets/logo
	url = https://github.com/TheRomanXpl0it/logo.git
