---
layout: default
title: TRX
---

<meta name="description" content='TRX (TheRomanExploit) is the Capture the Flag team of Sapienza University of Rome, competing in international computer security competitions. Capture the Flag (CTF) is a type of challenge contest that tests ethical hacking and computer security skills. In major competitions, TRX collaborates with top Italian teams, competing under the name "Mhackeroni"'>

<div class="posts">
  {% for post in paginator.posts %}
      <h3 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
          {{ post.title }}
        </a>
      </h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
