<header>
	<pre class="ascii name">                                                                                                                                           
                                                                .,, *,,,.                                                              
                                                          ,*///////.//////, /*.                                                        
                                                       *//////////////////,//////*                                                     
                                                    ./. /////////////////////////                                                      
                                                  */////*//////////////////////,                                                       
                                                 ////////////*.  ,,****.  .///.                                                        
                                               .//////////*  *////////////                                                             
                                              .  ,//////* */////////////                                                               
                                              /////////.  ,////,                                                                       
                                             *////////       ./////////////,                                                           
                                             ////////.     ,/////////////////*                                                         
                                             ////////    ,/////////////////////,                                                       
                                             ///////*   .///////////////////////*                                                      
                                              .*////*   /////////////////////////..                                                    
                                             ///////*   /////////////////////////,                                                     
                                             *//////*  .////////////////*     ..**                                                     
                                              ///////   //////////////////                                                             
                                              *//////   ,////////. .*/////////.                                                        
                                               /////*   ,//////*      ////////*                                                        
                                                ..      ///////.      ,////////                                                        
                                                      .////////        *///////                                                        
                                                       */////,          //////////                                                     
                                                                         *////////,                                                    
                                                                            ,//////.                                                   
                                                                                                                                    </pre>
	<pre class="ascii name">
████████╗██╗  ██╗███████╗██████╗  ██████╗ ███╗   ███╗ █████╗ ███╗   ██╗██╗  ██╗██████╗ ██╗      ██████╗ ██╗████████╗
╚══██╔══╝██║  ██║██╔════╝██╔══██╗██╔═══██╗████╗ ████║██╔══██╗████╗  ██║╚██╗██╔╝██╔══██╗██║     ██╔═████╗██║╚══██╔══╝
   ██║   ███████║█████╗  ██████╔╝██║   ██║██╔████╔██║███████║██╔██╗ ██║ ╚███╔╝ ██████╔╝██║     ██║██╔██║██║   ██║   
   ██║   ██╔══██║██╔══╝  ██╔══██╗██║   ██║██║╚██╔╝██║██╔══██║██║╚██╗██║ ██╔██╗ ██╔═══╝ ██║     ████╔╝██║██║   ██║   
   ██║   ██║  ██║███████╗██║  ██║╚██████╔╝██║ ╚═╝ ██║██║  ██║██║ ╚████║██╔╝ ██╗██║     ███████╗╚██████╔╝██║   ██║   
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚══════╝ ╚═════╝ ╚═╝   ╚═╝ 
</pre>
</header>
