<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="logo">
        <img src="{{ site-url }}/assets/img/new_logo_circle.png" alt="The TRX logo depicting a Roman helmet." width="224" height="224">
    </div>
      <h2>
        <a href="{{ site.baseurl }}">
          <center>TheRomanXpl0it</center>
        </a>
      </h2>
      <!--<p class="lead">{{ site.description }}</p>-->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" min-height="48" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" min-height="48" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr>
      <a class="sidebar-nav-item" min-height="48" href="{{ site.github.repo }}">GitHub</a>
      <a class="sidebar-nav-item" min-height="48" href="https://twitter.com/TheRomanXpl0it">Twitter</a>
      <a class="sidebar-nav-item" min-height="48" href="https://mhackeroni.it/">mhackeroni</a>
    </nav>
  </div>
</div>
