.member-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  margin: 2em;

  &-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-sub {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  & img {
    font-size: 10em;
  }

  @media #{$media-size-tablet} {
    flex-direction: column;
    align-items: center;
    gap: 0;

    & img {
      font-size: 6em;
    }
  }

  .author-icon {
    margin: 0;
  }
}

.member-published {
  text-align: center;
}

.member-social, .member-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-social > div {
  font-size: 2em;
}
