{{ define "main" }}
    <main class="posts">
      <h1 class="variant">{{ .Title }}</h1>

      {{ .Content }}

      <div class="posts">
        <ul class="posts-list">
            {{ range .Data.Pages.ByWeight }}
              <li class="post-item">
                <div class="post-item-inner" style="align-items: center;">
                  <div class="post-item-left" style="flex: 5 1 0;">
                    <span class="post-title variant" style="font-size: 1.4rem">
                    {{- partial "author.html" (dict "author" .Title "site" .Site) -}}
                    {{- if .Params.op }} <i style="font-size:0.8em;" title="Grazie Dario" class="fa-solid fa-crown"></i>{{- end -}}
                    </span>
                  </div>

                  <div class="post-item-right" style="flex: 5 1 0;">

                    <div class="tags">
                      {{- range .Params.roles -}}
                        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/"><span class="tag-pill tag-{{urlize .}}">{{.}}</span></a>
                      {{ end }}
                    </div>
                    {{if .Params.join_year}}
                    <span class="post-published">
                      Joined
                      {{if .Params.join_month}}
                      {{ dateFormat "Jan" (time (printf "2006-%02d-01" .Params.join_month)) }}
                      {{end}}
                      {{.Params.join_year}}
                    </span>
                    {{end}}
                </div>
              </li>
          {{ end }}
        </ul>
      </div>
    </main>
{{ end }}

