{{ define "main" }}
    <main class="posts">
      <h1 class="variant">{{ .Title }}</h1>

      {{ .Content }}

      <div class="posts">
        <ul class="posts-list">
            {{ range .Data.Pages.ByWeight }}
              <li class="post-item">
                <div class="post-item-inner">
                  <div class="post-item-left">
                    <span class="post-title variant">
                    {{- partial "author.html" (dict "author" .Title "site" .Site) -}}
                    {{- if .Params.op }} <i style="font-size:0.8em;" class="fa-solid fa-crown"></i>{{- end -}}
                    </span>

                    <div class="tags">
                      {{- range .Params.roles -}}
                        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/"><span class="tag-pill tag-{{urlize .}}">{{.}}</span></a>
                      {{ end }}
                    </div>
                  </div>

                  <div class="post-item-right">
                    <span class="post-published">
                      {{ if .Site.Params.dateformShort }}
                          {{ time.Format .Site.Params.dateformShort .Params.Joined }}
                      {{ else }}
                          {{ time.Format "Jan 2006" .Params.Joined }}
                      {{ end }}
                    </span>
                </div>
              </li>
          {{ end }}
        </ul>
      </div>
    </main>
{{ end }}

