{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
      <div class="posts-heading">
        <h1 class=variant>{{ .Title }}</h1>

        <div class="posts-heading-by">
          <a href="{{ "tags/" | absURL }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
            Tags
          </a>
          <a href="{{ "categories/" | absURL }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder meta-icon"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            Categories
          </a>
        </div>
      </div>

      {{ .Content }}

      {{ partial "posts.html" $paginator.Pages }}
      {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
