---
layout: simple
---

<h2>Info</h2>

<p>Github: <a href="https://github.com/{{ page.github }}">https://github.com/{{ page.github }}</a></p>
<p>Mail: <a href="mailto:{{ page.mail }}">{{ page.mail }}</a></p>

{% if page.site %}
<p>Website: <a href="{{ page.site }}">{{ page.site }}</a></p>
{% endif %}

<h2>Posts</h2>

<div class="posts">
    {% for post in site.posts %}
        {% if post.authors contains page.github %}
        <a href="{{ post.url }}" title="{{ post.description }}">
            {{ post.title }} <br>
        </a>
        {% endif %}
    {% endfor %}
</div>
