{{- $author := .author -}}
{{- $site := .site -}}
{{ $category := $site.Params.author.category }}
{{- $slug := $author | urlize -}}
{{- $memberPage := "" -}}
{{- if $category -}}
{{- $memberPage = $site.GetPage (printf "%s/%s" $category $slug) -}}
<a class="author-link accent" href="{{ $category | absLangURL }}/{{ $slug }}/">
{{- end -}}
{{- with $memberPage -}}
  {{- with .Params.avatar -}}
    <div class="author-icon">
    <img src="{{ . | relURL }}" />
    </div>
  {{- end -}}
{{- end -}}
<span class="author-name">{{- $author -}}</span>
{{- if $category -}}
</a>
{{- end -}}
